.nav-icon {
    margin: auto 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon > button {
    margin: 2px 0;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.nav-icon > button > img:hover {
    animation-name: rotate; 
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
