:root {
  --border: #3d3b17;
  --text-color: rgb(230, 209, 23);
  --primary-color: rgb(28, 28, 28);
  --secondary-color: rgb(195, 195, 0);
  --secondary-color-hover: rgb(240, 240, 0);
  --background-color: #353535;
  --dark-background-color: #252525;
  background-color: var(--background-color);
  font-size: 16px;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

