:root {
  --border: #3d3b17;
  --primary-color: rgb(23, 23, 23);
  --secondary-color: rgb(210, 210, 0);
  --secondary-color-hover: rgb(240, 240, 0);
  background-color: #333;
  font-size: 18px;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

